<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="/static/css/bootstrap.css" rel="stylesheet"/>
    <title>Signup</title>
    <script crossorigin="anonymous"
            defer
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-primary fs-5">
    <div class="container-fluid">
        <a class="navbar-brand m-3 fs-3 align-text-center" href="http://localhost:8080/index">
            <img alt="logo" class="d-inline-block object-fit-cover" height="50px" src="/static/img/logo.PNG" width="50px"/>
            MedCheck
        </a>
    </div>
</nav>
<div class="row w-100">
    <div class="col"></div>
    <div class="col my-5 align-center">
        <div class="container mt-5">
            <h1 class="text-center">Doctor Signup</h1>
            <form action="/doctor/create" method="post">
                <div class="mb-3">
                    <label class="form-label" for="fullName">Full Name</label>
                    <input class="form-control" id="fullName" name="fullName" placeholder="Enter your full name" required type="text">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email address</label>
                    <input class="form-control" id="email" name="email" placeholder="Enter your email" required type="email">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" id="password" name="password" placeholder="Enter your password" required type="password">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="dob">Date of Birth</label>
                    <input class="form-control" id="dob" name="dob" required type="date">
                </div>
                <div class="mb-3">
                    <label class="form-label">Gender</label>
                    <div class="form-check">
                        <input class="form-check-input" id="male" name="gender" type="radio" value="male">
                        <label class="form-check-label" for="male">Male</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" id="female" name="gender" type="radio" value="female">
                        <label class="form-check-label" for="female">Female</label>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="address">Address</label>
                    <input class="form-control" id="address" name="address" placeholder="Enter your address" required type="text">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="phoneNumber">Phone Number</label>
                    <input class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Enter your phone number" required type="tel">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="specialization">Specialization</label>
                    <input class="form-control" id="specialization" name="specialization" placeholder="Enter your specialization" required type="text">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="hospital">Hospital/Clinic Name</label>
                    <input class="form-control" id="hospital" name="hospital" placeholder="Enter hospital or clinic name" required type="text">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="experience">Years of Experience</label>
                    <input class="form-control" id="experience" min="0" name="experience" placeholder="Enter years of experience" required type="number">
                </div>
                <button class="btn btn-primary" style="margin-bottom:120px" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div class="col"></div>
</div>
<div class="row bg-secondary m-0 w-100 position-fixed bottom-0 start-50 translate-middle-x" style="height: 100px"></div>
</body>
</html>
