<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <title>Portal</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script crossorigin="anonymous"
            defer
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="navbar navbar-expand-lg bg-primary fs-5">
    <div class="container-fluid">
        <a class="navbar-brand m-3 fs-3 align-text-center" href="http://localhost:8080/index">
            <img alt="logo" class="d-inline-block object-fit-cover" height="50px" src="/static/img/logo.PNG" width="50px"/>
            MedCheck
        </a>
        <ul class="navbar-nav">
            <li class="nav-item m-3"><a class="nav-link" href="http://localhost:8080/index">Logout</a></li>
        </ul>
    </div>
</div>
<div class="row w-100 mb-5">
    <div class="col-1"></div>
    <div class="col-10">
        <h2 class="text-center m-5">Portal</h2>
        <div class="row g-0 mb-5">
            <div class="col-3 border" style="height: 550px">
                <div class="list-group">
                    <a
                            class="d-flex justify-content-between align-items-center list-group-item list-group-item-action active"
                            href="./doctor-patient-info">
                        Patient Info
                    </a>
                </div>
                <div class="list-group">
                    <a
                            class="d-flex justify-content-between align-items-center list-group-item list-group-item-action"
                            href="./portal-messages">
                        Messages
                    </a>
                </div>
            </div>
            <div class="col-9 border p-5" style="height: 550px; overflow-y: scroll">
                <div class="form-floating mb-3">
                    <input class="form-control" placeholder="Search Patient" type="text"/>
                    <label class="form-label">Search Patient</label>
                </div>
                <div class="row">
                    <div class="col-4 p-3">
                        <p class="text-center mb-3">Patients</p>
                        <div class="list-group" id="patient2-div"></div>
                    </div>
                    <div class="col-8 p-3">
                        <label class="form-label mb-3"></label>
                        <div class="form-control" id="message-div-box">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
<div class="row bg-secondary m-0 w-100" style="height: 100px"></div>


<script>
    $(document).ready(function () {
        var patientId = "";

        // AJAX request to retrieve list of patients
        $.ajax({
            type: "GET",
            url: `/api/patients`,
            success: function (response) {
                const container = document.getElementById("patient2-div");
                response.forEach(item => {
                    const div = document.createElement("div");
                    div.className = "btn btn-primary list-group-item";
                    div.textContent = `${item.fullName}`;

                    // Function to handle fetching and displaying messages for a selected patient2
                    div.addEventListener("click", function () {

                        for (const childDiv of container.children) {
                            childDiv.className = "btn btn-primary list-group-item";
                        }
                        div.className = "btn btn-primary list-group-item active";

                        const messageDiv = document.getElementById("message-div-box");
                        while (messageDiv.firstChild) {
                            messageDiv.removeChild(messageDiv.firstChild);
                        }

                        const colNames = ["dob", "gender", "allergies", "medialHistory", "phoneNumber", "address"];

                        for (const colName of colNames) {
                            const p = document.createElement("p");
                            p.textContent = `${colName}: ${item[colName]}`;
                            messageDiv.appendChild(p);
                        }

                    });
                    container.appendChild(div);
                });
            }
        });
    });
</script>
</body>
</html>